.wrapper {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr ); */
    grid-template: repeat(3,  1fr ) / repeat(4, 1fr) ;
  }
  
  .box1 {
    grid-area: 2 / 2 / 3 / 3;    
 /* grid-column: 3/4;
 grid-row: 2/2; */
   
  }
  
  /* .box2 {
    grid-column-start: 3;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
  } */
  
  * {
    box-sizing: border-box;
  }
  
  .wrapper {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
  }
  
  .wrapper > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  }
  
  .nested {
    border: 2px solid #ffec99;
    border-radius: 5px;
    background-color: #fff9db;
    padding: 1em;
  }
  nav {
    grid-area: nav;
  } 