*
{
    padding: 0px;
    margin: 0px;
    
}

header{

    position: fixed;
    width: 100%;
    text-align: center;
    background-color: rgb(94, 161, 54);
    z-index: 100;
    
}
.welcome{
    border: 2px solid black;
    position: relative;
    padding: 40px;
    top: 120px;
    background-color: aqua;
    border-radius: 10px;
}

.question {
    text-align: center;
    position: sticky;
    top: 120px;
    margin-top: 130px;
    border: 15px solid #db0b0b;
    background-color: white;
  }
.name{
    position: absolute;
    background-color: cadetblue;
    /* text-align: center; */
    right: 0px;
    /* left: 0px;
    /* bottom: 0px; */ 
    z-index: 1000;
}
.inside-name{
    position: relative;
}