
* {
    box-sizing: border-box;
  }
.header{
  width: 100%;
  background: red;
  position: sticky;
  top: 20px;
  text-align: center;

}

.header:hover{
  color: green;
}

.body-main{
    border: 2px solid red;
    margin: 0;
    padding: 0;
}
.one{

    height:  200px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}
.one-{

    border: 2px solid green;
    height:  200px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.two-{

    border: 2px solid rgb(247, 13, 149);
    height:  200px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
   
    height:  200px;
    display: flex;
    justify-content: center;
}

.image-1{
    
    border:2px blue dotted;
     display:  flex;
     justify-content: center;
}
.image-1 div{
    border: 2px black solid ;
    height: 100px;
}
.num1{
    margin-right: 10px;
}
.num2{

    margin-left:20px ;
}
p {
    
    min-width: 300px;
    max-width: 600px;

    /* min-height: 150px;
    max-height: 100px; */
  }

  .app {
    /* visibility: none; */
    display:  none;
  }
  ul{
    display:  flex;
    flex-direction: column;
  }
  li{
    padding: 2px;
    list-style: none;
  }
  .content{
    height: 200px;
    overflow: scroll;
   
}
.content div{
    display: flex;
    justify-content: center;
}
  p{
    padding: 50px;
    text-align: center;
  }
  h1 {
    border: 1px solid black;
    height: 200px;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    
    display: flex; /* Add flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; 
  }
  